.login-container {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: no-content;
}

.login-login-section {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    padding: 50px;
}

.login-login-section-header-section {
    width: 300px;
}

.login-login-section-header-section p {
    margin: 20px 0 20px 0;
}

.login-login-section-submit-button {
    justify-self: center;
}

.login-login-section-submit-button Button {
    width: 150px;
    background-color: #039be5;
}

.login-login-section-submit-button Button:hover {
    background-color: #0277bd;
}

.login-textfield {
    width: 300px;
}

.login-preview-section {
    grid-column: 2;
}

.login-preview-section img {
    height: 100%;
    width: 100%;
    
    -webkit-box-shadow: 4px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 13px 0px rgba(0,0,0,0.75);
}
